name: Auto Deploy (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Restart application
        run: |
          pm2 describe pipeline-app > $null 2>&1
          if ($LASTEXITCODE -ne 0) {
            pm2 start index.js --name pipeline-app
          } else {
            pm2 restart pipeline-app
          }
